body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.about{
    display:flex;
    justify-content: center;
    align-items:center;
  
}

.about-bg{
margin-top:0px;
height:80vh;
background-image: url('https://img.freepik.com/free-vector/black-background-with-focus-spot-light_1017-27230.jpg?w=996&t=st=1712295812~exp=1712296412~hmac=097ec5785712f195222048f4d50d3ff2cc0394cfa5022a94b524960617910fb5');
background-size:cover;
color:white
}

.container1{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:50vh;

}

.desc{
    width:50%;
    color:white;
    font-size:20px;
}


.container{
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    gap:40px
}

.container .progress{
    position:relative;
    width:150px;
    height:150px;
    border-radius:50%;
    color:#fff;
    background:#444 linear-gradient(to right,transparent 50% var())
}