@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-bg {
  display: flex;
  margin-bottom:0px;
  background-image: url('https://img.freepik.com/free-vector/black-background-with-focus-spot-light_1017-27230.jpg?w=996&t=st=1712295812~exp=1712296412~hmac=097ec5785712f195222048f4d50d3ff2cc0394cfa5022a94b524960617910fb5');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(211, 208, 208);
  padding-top: 100px; 
  padding-bottom: 20px;
  padding-left:40px;
  padding-right:40px
  
}

@keyframes jumpDown {
  0% {
    transform: translateY(-100px); 
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
  }
}
.my-image {
  animation: jumpDown 1s ease-in-out; 
  margin-left: 0;
  width: 560px; 
  height: 560px; 
  border-top-left-radius: 30% 50%; 
  border-top-right-radius: 30% 50%; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  object-fit: cover; 
  margin-right: 50px;
}

@keyframes jumpIn {
  0% {
    transform: translateY(20px); 
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
  }
}

@font-face {
font-family: myFont;
src: url(../../style/CampanaScript_PERSONAL_USE_ONLY.otf);
}

@font-face {
  font-family: myFont1;
  src: url(../../style/Sunny\ Spells\ Basic.ttf);
}

.name-intro{
  font-family: myFont;
  font-size:50px;
  margin-bottom: 0px;
  color:#727672
}

.name{
  color:#86C232;
  position: relative;
  font-size: 120px;
  font-weight: bold;
  margin:0px;
  color: transparent;
  -webkit-text-stroke: 2px #86C232;
  text-transform:uppercase;
  
}

.name::before
{
  content:attr(data-text);
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:#86C232;
  -webkit-text-stroke: 2px #ffffff;
  border-right:2px solid #ffffff;
  overflow:hidden;
  animation:animate 6s linear infinite;

}

@keyframes animate
{
  0%,10%,100%
  {
    width:0;
  }
  70%,90%
  {
width:100%
  }
}


@keyframes slideIn {
  0% {
    transform: translateX(-50px); 
    opacity: 0; 
  }
  100% {
    transform: translateX(0); 
    opacity: 1; 
  }
}

.info{
color:#727672;
font-weight: bold;
}

.name-intro,
.jobtitle,
.quote,.info {
  animation: slideIn 1s ease-in-out; 
}

.title{
  font-size:50px;
  font-family:myFont1
}

.quote{
  font-size:50px;
  font-family:myFont;
  color:#727672
}

.button-89 {
  --b: 3px;   
  --s: .45em; 
  --color: #86C232;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

